.container {
  width: auto;
  height: auto;

  button {
    width: 25px;
    height: 40px;
    background-color: #111;
    text-align: center;
  }
}

.test {
  background-color: $oc-gray-0;
  color: $oc-gray-7;
}
